apiVersion: v1
kind: Service
metadata:
  name: {{ include "fabgitops.fullname" . }}-metrics
  labels:
    {{- include "fabgitops.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "fabgitops.selectorLabels" . | nindent 4 }}
